@model WebApplication2.Models.Sholeh

@{
    ViewData["Title"] = "Sholeh";
}

@{
    var name = "Shayan";
}

<h1>Sholeh</h1>
<p>@name</p>
<ul>
    <li>Order number: @Model.OrderNumber - Name: @Model.Name</li>
</ul>

